:root{
    --titles: 'PT Sans', sans-serif;
    --text: 'Open Sans', sans-serif;
    --white: #FFFFFF;
    --gris: #6e6e6e;
    --black: #000000;
    --darkBlue: #00064B;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /**1rem = 10px**/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--text);
    font-size: 1.6rem;
    line-height: 2;
}
a{
    text-decoration: none;
}
.contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 120rem;
}
h1,h2,h3,h4{
    font-family: var(--titles);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
p{
    font-size: 2rem;
}
.no-margin {
    margin: 0;
}
.no-padding{
    padding: 0;
}
.text__center{
    text-align: center;
}
/**Header**/
.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header__text{
    margin-top: 5rem;
    color: var(--white);
}
@media(min-width: 768px) {
    .header__text{
        margin-top: 15rem;
    }   
}
/**header navegacion**/
.logo{
    color: var(--white);
    
}
.logo__bold{
    font-weight: 700;
}
.logo__nombre{
    font-weight: 400;
}

.navegacion__enlace{
    color: var(--white);
    display: block;
    text-align: center;
    font-size: 1.8rem;
}
.header__nav{
    padding-top: 4rem;
}
@media(min-width: 768px) {
    .header__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .navegacion{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;    
    }   
}
/**Contenido del blog**/
@media(min-width: 768px) {
    .contenido__principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }    
}
.entrada{
    border-bottom: 0.1rem solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border-width: 0.5rem;
}
@media(min-width: 768px) {  
    .entrada{
    border-bottom: 0.1rem solid var(--gris);
    margin-bottom: 2rem;
    }  
    .entrada:last-of-type{
        border: none;
        margin-bottom: none;
    }
}
.boton{
    padding: 1rem 3rem;
    color: var(--white);
    display: block;
    text-align: center;
    font-family: var(--titles);
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 2rem;
    border: none;
}
@media(min-width: 768px) {
    .boton{
        display: inline-block;
    }
}
.boton--primario{
    background-color: var(--black);
}

/**aside**/
.informacion{
    list-style: none;
}
.informacion__bold{
    font-family: var(--titles);
    font-weight: 700;
}
.informacion__normal{
    font-weight: 400;
}
.informacion__entrada{
    border-bottom: 0.1rem solid var(--gris);
    margin-bottom: 2rem;
    font-size: 2rem;
}
.informacion__entrada:last-of-type{
    border: none;
    margin-bottom: none;
}
.footer{
    background-color: var(--black);
    height: 15rem;
    margin-top: 4rem;
    padding-bottom: 3rem;
}
.footer__informacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**Nosotros.html**/

.sobre-nosotros__imagen{
    text-align: center;
}
@media(min-width: 768px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

/**Cursos.html**/

.curso__imagen{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.curso{
    padding: 3rem 0 3rem 0;
    border-bottom: 0.2rem solid black;
}
.curso:last-of-type{
    border: none;
}
@media(min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
}

/**contacto.html**/

.imagen__bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.Contacto__formulario{
    width: 90%;
    margin: -5rem auto 0 auto;
    background-color: var(--white);
    padding: 5rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo__label{
    flex: 0 0 9rem;
}
.campo__field{
    flex: 1;
}
.campo__field--textarea{
    height: 20rem;
}



